@media screen and (min-width: 500px) {
    .navbar {
        position: relative;
        .navbar-inner {
            position: absolute;
            left: 39%;
            .navbar-end{
                display: flex;
                gap: 50px;
                justify-content: flex-end;
                width: 32vw;
                align-items: center;

            }
        }

    }
}