@media screen and (min-width: 500px) {
    .navbar {
        position: relative;
        position: fixed;
        z-index: 999;
        
        .navbar-inner {
            position: absolute;
            left: 39%;
            .navbar-end{
                display: flex;
                gap: 50px;
                justify-content: flex-end;
                width: 38vw;
                align-items: center;
                
            }
        }

    }
}